{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block result_list %}
<table id="result_list" class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in cl.result_list %}
        <tr class="row1">
            <td>{{ stock.code }}</td>
            <td>{{ stock.name }}</td>
            <td>
                <a href="{% url 'admin:stocks_stock_import_prices' stock.code %}" class="button">
                    Import Prices
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No stocks available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ block.super }}
{% endblock %}
